.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(213, 0, 125, 0.8),
    rgba(229, 57, 53, 0.8)
  );
}

.main {
  flex: 0.5;
  background: #fff;
  border-radius: 10px;
  padding: 10px;
}

.app-header {
  display: block;
  font-family: Poppins-Bold;
  font-size: 35px;
  color: #000;
  line-height: 1.2;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 40px;
}

.form-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.date-picker-wrapper {
  min-width: 100%;
  font-family: Poppins-Regular;
  font-size: 15px;
  height: 45px;
}

.form-container .react-date-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: none;
  border-bottom: thin solid #555;
  font-family: Poppins-Regular;
  padding: 5;
  color: #555;
  line-height: 1.2;
}

.form-container .react-date-picker__inputGroup__input:invalid {
  background: #fff;
}

label {
  font-weight: 400;
  color: #555;
}

.btn-section {
  align-self: center;
  padding-top: 50px;
}

.btn {
  min-width: 250px;
  height: 42px;
  background-color: #b0182b;
  color: #fff;
  margin: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.btn:disabled {
  background-color: #ae7676;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .main {
    flex: 0.8;
  }

  .form-container .react-date-picker__calendar {
    max-width: 100%;
  }
}
